TZ=
# --- Georgia Power Settings ---
ZIP_CODE=
THRESHOLD_MINUTES= 
KUBRA_CONFIG_URL=
# --- Pushover Settings ---
PUSHOVER_USER_KEY=
PUSHOVER_TOKEN=
# --- NUT Server Settings ---
NUT_HOST= # The Tailscale/VPN IP of your home NUT server
NUT_PORT=
NUT_UPS_NAME= # The name of your UPS in nut.conf
UPS_MIN_RUNTIME_MINUTES=